<% unless @disable_nav == true %>
<ul class="bxslider">
<!--   <li>Slide one content</li>
  <li>Slide two content</li>
  <li>Slide three content</li>
  <li>And so on...</li> -->
<% @rand_itineraries.each do |itinerary| %>
  <li>"<%= itinerary.title %>" by <%= itinerary.user.name %><br>
  <a href="/itineraries/<%= itinerary.id %>"><img src="<%= itinerary.img_url %>" width="30%"></a><br>
  <%= itinerary.is_copy %></li>
<% end %>

</ul>
<% end %>