<section>
<h1>Edit "<%= @itinerary.title %>"</h1>
  <%= form_for(@itinerary) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %><br>

  <%= f.label :description %>
  <%= f.text_area :description, size: "60x12" %><br>

  <%= f.submit "Save to your itineraries" %>
  <%= link_to "Cancel", itineraries_path %>
  <% end %>
</section>