<h1>Itineraries Index</h1>

<% @itineraries.each do |itinerary| %>
  <%= itinerary.user.name %><br>
  <%= itinerary.title %><br>
  <a href="/itineraries/<%= itinerary.id %>"><img src="<%= itinerary.img_url %>" width="200px"></a><br>
  <%= itinerary.description %><br>
<% end %>

