<div class="itin-container">

  <div class="itin-title">
    <h1 class="itineraries-index">Featured itineraries</h1>
  </div>

  <div class="itin-slideshow">
    <%= render 'slideshow' %>
  </div>

<!--   <div class="post-new">
    <button><%#= link_to 'NEW ITINERARY', new_itinerary_path %></button>
  </div> -->

  <div class="itin-title">
    Browse itineraries
  </div>

  <section class="itinerary-item">
    <% @itineraries.each do |itinerary| %>

      <div class="itin-inside-box">
        <h2><%= itinerary.title %></h2>
        <div class="itin-content">
          <a href="/itineraries/<%= itinerary.id %>"><img class="itin-img" src="<%= itinerary.img_url %>"></a>
          </div>
        <h3><%= itinerary.description %></h3>
      </div>

    <% end %>
  </section>

</div>