<div class="itin-container">
  <div class="itin-title">
    <h1 class="itineraries-index">Browse itineraries</h1>
  </div>

  <div class="itin-slideshow">
    <%= render 'slideshow' %>
  </div>


  <section class="itinerary-item">
    <% @rand_itineraries.each do |itinerary| %>

      <div class="itin-inside-box">
        <h2><%= itinerary.title %></h2>
        <div class="itin-content">
        <div class="itin-img">
          <a href="/itineraries/<%= itinerary.id %>"><img class="itin-img" src="<%= itinerary.img_url %>"></a></div>
        <div class="itin-desc"><%= itinerary.description %></div>
        </div>
      </div>

    <% end %>
  </section>

  <div class="post-new">
    <%= link_to 'Post a new itinerary', new_itinerary_path %>
  </div>
</div>