<div class="itin-container">
  <div class="itin-title">
    <h1 class="itineraries-index">Browse itineraries</h1>
  </div>

  <div class="itin-slideshow">
    <br>
    <%= render 'slideshow' %>
    <br>
  </div>


  <section class="itinerary-item">
    <% @rand_itineraries.each do |itinerary| %>

      <div class="itin-inside-box">
        <div class="itin-img">
          <h2><%= itinerary.title %></h2>
          <a href="/itineraries/<%= itinerary.id %>"><img class="itin-img" src="<%= itinerary.img_url %>"></a></div>
        <div class="itin-desc"><%= itinerary.description %></div>
      </div>

    <% end %>
  </section>


  <button><%= link_to 'Post a new itinerary', new_itinerary_path %></button><br>
</div>