<div class="titlez">
<h1 class="itineraries-index">Itineraries Index</h1>
</div>
<br>

<%= render 'slideshow' %>

<br>

<%= form_tag itineraries_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<button><%= link_to 'Post a new itinerary', new_itinerary_path %></button><br>


