<div class="new-item-container">


    <%= form_for(@itinerary) do |f| %>
    <h1 class="new-item-field" >Create a new itinerary:</h1><br><br>

    <%= f.label :title %>
    <%= f.text_field :title, :class => "new-item-field"  %><br>

    <%= f.label :location %>
    <%= f.text_field :address, :class => "new-item-field"  %><br>

    <%= f.label :image %>
    <%= f.text_field :img_url, :class => "new-item-field" %><br>

    <%= f.label :description %>
    <%= f.text_area :description, :class => "new-item-field", size: "60x12" %><br>

  <div class="movin-right">
  <%= f.submit "Create", :class => "red-red-btn" %>
  <%= button_to "Cancel", items_path, :class => "red-red-btn"  %>
  </div>

  <% end %>
</div>