<h1>Create new itinerary</h1>

<%= form_for(@itinerary) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %><br>

<%= f.label :img_url %>
<%= f.text_field :img_url %><br>

<%= f.label :description %>
<%= f.text_area :description, size: "60x12" %><br>

<%= f.submit "Create itinerary" %>
<%= link_to "Cancel", itineraries_path %>
<% end %>