<div class="itin-show-container">
            <% if flash[:notice] %>
            <div id="notice"><%= flash[:notice] %></div>
            <% end %>





            <div class="itin-title">
              <h1 class="itineraries-index"><%= @itinerary.title %></h1>
            </div>




<!- buttons TOP ->

<div class="itin-user">
  Itinerary by: <%= @itinerary.user.name %>
</div>





<!- Itinerary TOP ->






<div class="itin-show-box">
  <div class="itin-show-img"> <!-- ITIN IMAGE -->
    <img src="<%= @itinerary.img_url %>" width='60%'>
  </div>



  <div class="itin-show-desc">
    <!-- ITIN Description -->
    <div class="add-this">
      Itinerary created on: <%= @itinerary.created_at.to_formatted_s(:long) %>
      <!-- AddThis Button BEGIN -->
      <a
      class="addthis_button"
        addthis:url="http://goinplac.es"
        addthis:title="Going Places"
        addthis:description="Great Escape Artists Steal (itineraries)">
      <%= image_tag("share.png", class: "sharer-small") %>
    </a><br>
    <!-- AddThis Button END --><br>

    <%= @itinerary.description %><br>
  </div>

<div class="itin-show-edit">

  <% if current_user.id == @itinerary.user_id %>
  <button class="red-red-btn-sm"><%= link_to 'Edit Itinerary', edit_itinerary_path %></button>



  <button class="red-red-btn-sm">
    <%= link_to 'Add', "/itineraries/#{@itinerary.id}/items/new", :method => :get %>
  </button>


  <button class="red-red-btn-sm"><%= link_to 'Delete Itinerary', @itinerary, :method => :delete, :confirm => "Are you sure?" %></button>
  <% else %>

  <!- copy button ->

  <button class="red-red-btn-sm copy"><%= link_to 'Copy', "/itineraries/#{@itinerary.id}/copy", :method => :get, :confirm => "Do you want to copy this entire itinerary?" %>
  </button>

  <!- copy button ->

  <% end %>
</div>

<!- buttons bottom ->




</div>




<!- Itinerary TOP END ->



<!--- going to partial item content ---->




<section class="itinerary-item">

        <% @links.each do |link| %>
          <div class="each-itin-item">
          <% item = link.item %>
          <h2><%= item.name %></h2>
          <div class="itin-content">
           <a href="<%= @itinerary.id %>/items/<%= item.id %>"><img class="itin-img" src="<%= item.img_url %>"></a>
          <br><br>
          <%= item.description %><br>
          </div>

<!----- checkbox button should be here here ------>



          <div class="check-box">
            <%= form_for link do |f| %>
              <% if link.is_complete == true %>
                <%= image_submit_tag("checkbox.png", :is_complete => 'false') %>
              <% else %>
                <%= image_submit_tag("checkbox-empty.png", :is_complete => 'true') %>
              <% end %>
            <% end %>
          </div>


      </div>
      <% end %>
</section>



<!----- checkbox button goes here ------>







  </div> <!-- ends itin show box -->

