<button><%= link_to 'Edit', edit_itinerary_path %></button>

<button><%= link_to 'Delete', @itinerary, :method => :delete, :confirm => "Are you sure?" %></button>

<div>
  <a href="/itineraries">Itineraries</a>
</div>

<div><h1><%= @itinerary.title %></h1><br></div>

<div>
  <img src="<%= @itinerary.img_url %>" width='400px'>
  <br>
  <%= @itinerary.description %>
</div>