<div class="user-show-container">

  <h2 class="itin-title">
    Your Itineraries
  </h2>

  <% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
  <% end %>



<div class="new-itinerary">
  <button class="red-red-btn"><%= link_to 'NEW ITINERARY', new_itinerary_path %></button>
</div>

<div class="user-itin-info">
  <% @itineraries.each do |itinerary| %>

  <!-- gets the items for each itinerary here inside the box-->

  <div class="inside-user-content">
    <h2><%= itinerary.title %></h2>

    <div class="user-content">
      <a href="/itineraries/<%= itinerary.id %>"><img src="<%= itinerary.img_url %>"></a>
      <%= itinerary.description %>
    </div>



    <div class="itin-show-edit-sm">
      <button class="red-red-btn-sm">
        <%= link_to 'Edit Itinerary', edit_itinerary_path(itinerary.id) %>
      </button>
      <button class="red-red-btn-sm">
        <%= link_to 'Delete Itinerary', itinerary_path(itinerary.id), :method => :delete, :confirm => "Are you sure?" %>
      </button>
    </div>

  </div>
  <% end %>
  <!-- end of inside-user-content  -->


  <button href="#collapse1" class="nav-toggle red-red-btn">SETTINGS</button>
  <div id="collapse1" style="display:none">
    <%= render 'edit_details' %>
  </div>

</div>



