<div class="itin-show-container">
  <% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
  <% end %>

  <%# binding.pry %>

  <div class="itin-show-edit">
    <%= link_to 'Edit Itinerary', edit_itinerary_path %> | <%= link_to 'Delete Itinerary', @itinerary, :method => :delete, :confirm => "Are you sure?" %>
    <%# end %> | <%= link_to 'Itineraries', itineraries_path %>
    <br>
  </div>



    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b062e136d519a7"></script>
    <!-- AddThis Button END -->


  <% @itineraries.each do |itinerary| %>
  <div class="itin-show-info">
    <!-- gets the items for each itinerary here -->
    <div class="itin-show-title">
    <div class="add-this">
      <%= itinerary.title %>
      <!-- AddThis Button BEGIN -->
      <a
      class="addthis_button"
      addthis:url="http://goinplac.es"
      addthis:title="Going Places"
      addthis:description="Great Escape Artists Steal (itineraries)">
      <%= image_tag("share.png", class: "sharer-small") %>
    </a>
  </div>
    </div>
    <div class="itin-show-img">
      <img src="<%= itinerary.img_url %>" width='60%'>
    </div>
    <div class="itin-show-desc">
      <%= itinerary.description %><br>
    </div>
    <% end %>
    <br>
  </div>


  <div class="copy-add-item">

    <%#= link_to 'Add new item to current itinerary', "/itineraries/#{@itinerary.id}/items/new", :method => :get %>
    <%#= link_to 'Search for stuff to add to an itinerary', "/items", :method => :get %>
    <%# end %>
  </div>
</div>
