<h2>Welcome to Goin Places</h2>

<%= form_for(:user, :as => :user, :url => session_path(:user)) do |f| %>
<div><%= f.text_field :email, :placeholder => 'Enter your email address', :class => 'login-form', :size => 50 %>

  <br />
  <div>
    <%= f.password_field :password, :placeholder => 'Enter your password', :class => 'login-form', :size => 50 %></div>

    <div>
     <%= button_to "Login with Facebook", user_omniauth_authorize_path(:facebook), :display => 'inline-block' %><%= f.submit "Login", :display => 'inline-block' %></div>

     <% end %>

     <%#= render "users/shared/links" %>

