<div class="new-item-container">

<%= form_for(@item) do |f| %>
<h1 class="new-item-field">Edit "<%= @item.name %>"</h1><br><br>
  <%= f.label :name %>
  <%= f.text_field :name, :class => "new-item-field" %><br>

  <%= f.label :img_url %>
  <%= f.text_field :img_url, :class => "new-item-field" %><br>

  <%= f.label :description %>
  <%= f.text_area :description, :class => "new-item-field", size: "60x12"  %><br>

<div class="movin-right">
  <%= f.submit "Update item", :class => "red-red-btn" %>
  <%= button_to "Cancel", items_path, :class => "red-red-btn"  %>
</div>
<% end %>
</div>