<div class="item-container">

  <div class="itin-title">
    <h1>Browse items</h1>
  </div>

  <div class="itin-slideshow">
    <%= render 'slideshow' %>
  </div>

  <section class="itinerary-item">

    <% @rand_items.each do |item| %>

      <div class="itin-inside-box">
        <h2><%= item.name %></h2><br>

        <div class="itin-content">
          <div class="itin-img">
            <a href="/items/<%= item.id %>"><img src="<%= item.img_url %>"></a>
          </div>
          <div class="item-desc">
            <%= item.description %>
          </div>
        </div>
      </div>

    <% end %>
  </section>
  <div class="post-new">
    <%= link_to 'Post a new item', new_item_path %>
  </div>
</div>