<div class="new-item-container">

  <%= form_for(@item) do |f| %>
  <h1 class="new-item-field" >Create new item here dog</h1>
  <%= f.label :name %>
  <%= f.text_field :name, :class => "new-item-field" %><br>

  <%= f.label :img_url %>
  <%= f.text_field :img_url, :class => "new-item-field" %><br>

  <%= f.label :description %>
  <%= f.text_area :description, :class => "new-item-field", size: "60x12" %><br>

  <%= hidden_field_tag :itinerary_id, params["itinerary_id"] %>

  <%= f.submit "Create item", :class => "red-red-btn" %>
  <%= link_to "Cancel", items_path %>

  <% end %>

</div>