<h1><%= @item.name %></h1>
<img src="<%= @item.img_url %>" width="25%"><br>

<% if current_user.id == @itinerary.user_id %>
<button><%= link_to 'Edit Item', edit_item_path %></button>
<button><%= link_to 'Delete Item', @item, :method => :delete, :confirm => "Are you sure?" %>
</button><br>
Description: <%= @item.description %><br>
<% else %>





<%= form_for(@link) do |f| %>

<%= f.collection_select :itinerary_id, Itinerary.where(:user_id => current_user.id) << @itin_new, :id, :title, :prompt => "Select itinerary" %>


<input id="item_id" name="link[item_id]" type="hidden" value="<%= @item.id %>">

<%= f.submit 'Add item to itinerary' %>
<% end %>
<% end %>