<br><br>
<%= link_to 'Add a New Place', new_item_path %><br><br>
<br><br>
<%= link_to 'Edit Item', edit_item_path %> | <%= link_to 'Delete Item', @item, :method => :delete, :confirm => "Are you sure?" %>

<h3><%= @item.name %></h1>
<img src="<%= @item.img_url %>" width="25%"><br>
Description: <%= @item.description %><br>


<%= collection_select :itinerary_id, 0, Itinerary.all, :id, :title, :prompt => "Select itinerary" %>

<button></button>


