<br><br>
<%= link_to 'Add a New Place', new_item_path %><br><br>
<br><br>
<%= link_to 'Edit Item', edit_item_path %> | <%= link_to 'Delete Item', @item, :method => :delete, :confirm => "Are you sure?" %>

<h3><%= @item.name %></h1>
<img src="<%= @item.img_url %>" width="25%"><br>
Description: <%= @item.description %><br>


<%= form_for(@link) do |f| %>

  <%= f.collection_select :itinerary_id, Itinerary.where(:user_id => current_user.id), :id, :title, :prompt => "Select itinerary" %>

  <input id="item_id" name="link[item_id]" type="hidden" value="<%= @item.id %>">

  <%= f.submit 'Add item to itinerary' %>
<% end %>