<%= link_to 'Edit Item', edit_item_path %> | <%= link_to 'Delete Item', @item, :method => :delete, :confirm => "Are you sure?" %> |


<h3><%= @item.name %></h1>
<img src="<%= @item.img_url %>" width="25%"><br>
<%= @item.description %><br>
Parent-id: <%= @item.parent_id %>
