<%= link_to 'Edit Item', edit_item_path %> | <%= link_to 'Delete Item', @item, :method => :delete, :confirm => "Are you sure?" %> |

<%= link_to 'Add new item', new_item_path %> |
<%= link_to 'Items', items_path %> | <%= link_to 'Itineraries', itineraries_path %>

<h3><%= @item.name %></h1>
<img src="<%= @item.img_url %>" width="25%"><br>
<%= @item.description %><br>
Parent-id: <%= @item.parent_id %>
