<% if user_signed_in? %>
<div class="nav-bar-main">
  <%= image_tag("gp-white.png", class: "gp-title-nav") %>
<div class="nav-bar-right">
  Hello, <%= current_user.name %> |
  <%= link_to('Home', itineraries_path, :method => :get) %> |
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> |
  <a href="users/<%= current_user.id %>"> My Itineraries </a> | <%= link_to 'Items', items_path %>
</div>
</div>
<% end %>
